@charset "UTF-8";

/*
    em HTML é id    = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

/*
    O id sobrepõe as configurações de class.
*/
body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 109, 0);
}

h1#principal {
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
}

h2 {
    color: rgb(51, 77, 49);
}

.basico {
    color: #3c805e;
}

.intermediario {
    color: #807f3c;
}

.avancado {
    color: #803c3c;
}

.destaque {
    background-color: #c5c56070;
}